FLASK_SECRET_KEY=CAMBIAR_ESTA_CLAVE

# Oracle JDBC
ORACLE_USER=DIGITALIZACION
ORACLE_PASSWORD=CAMBIAR_PASSWORD
ORACLE_JDBC_JAR=/app/jdbc/ojdbc8.jar
ORACLE_TARGETS=172.16.60.21:1521:prdsgh2
ORACLE_OWNER=DIGITALIZACION
ORACLE_TABLE=DIGITALIZACION

# SFTP
SFTP_HOST=172.16.60.127
SFTP_PORT=2223
SFTP_USER=lmoreno
SFTP_PASSWORD=letimoreno1234
SFTP_REMOTE_BASE=/repositorio

# Salida local dentro del contenedor
DOWNLOAD_OUTPUT_ROOT=/app/output

# Workaround Oracle JDBC timezone
JAVA_TOOL_OPTIONS=-Doracle.jdbc.timezoneAsRegion=false -Duser.timezone=UTC
