FLASK_SECRET_KEY=CAMBIAR_ESTA_CLAVE_LARGA
ADMIN_USER=Leticia
ADMIN_PASSWORD=7eticia1234

# Oracle JDBC
ORACLE_USER=DIGITALIZACION
ORACLE_PASSWORD=CAMBIAR_PASSWORD
ORACLE_JDBC_JAR=/data_nuevo/flask_sftp/sftp_he1/jdbc/ojdbc8.jar
ORACLE_TARGETS=172.16.60.21:1521:prdsgh2
ORACLE_OWNER=DIGITALIZACION
ORACLE_TABLE=DIGITALIZACION

# SFTP
SFTP_HOST=172.16.60.127
SFTP_PORT=2223
SFTP_USER=lmoreno
SFTP_PASSWORD=CAMBIAR_PASSWORD
SFTP_REMOTE_BASE=/repositorio

# Salida local
DOWNLOAD_OUTPUT_ROOT=/data_nuevo/flask_sftp/sftp_he1/output

# App
APP_HOST=127.0.0.1
APP_PORT=5085

# JVM
JAVA_TOOL_OPTIONS="-Doracle.jdbc.timezoneAsRegion=false -Duser.timezone=UTC"
