FLASK_SECRET_KEY=CAMBIAR_ESTA_CLAVE
ADMIN_USER=Leticia
ADMIN_PASSWORD=7eticia1234

# Oracle JDBC
ORACLE_USER=DIGITALIZACION
ORACLE_PASSWORD=DIGITALIZACION
ORACLE_JDBC_JAR=/ruta/al/proyecto/jdbc/ojdbc8.jar
ORACLE_TARGETS=172.16.60.21:1521:prdsgh2
ORACLE_OWNER=DIGITALIZACION
ORACLE_TABLE=DIGITALIZACION

# SFTP
SFTP_HOST=172.16.60.127
SFTP_PORT=2223
SFTP_USER=lmoreno
SFTP_PASSWORD=letimoreno1234
SFTP_REMOTE_BASE=/repositorio

# Salida local en el equipo
DOWNLOAD_OUTPUT_ROOT=/ruta/al/proyecto/output

# Host/puerto para correr sin Docker
APP_HOST=127.0.0.1
APP_PORT=5085

# Workaround Oracle JDBC timezone
JAVA_TOOL_OPTIONS="-Doracle.jdbc.timezoneAsRegion=false -Duser.timezone=UTC"
