[Unit]
Description=SFTP HE1
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=red_gestion
Group=red_gestion
WorkingDirectory=/data_nuevo/flask_sftp/sftp_he1
EnvironmentFile=/data_nuevo/flask_sftp/sftp_he1/.env
Environment="GUNICORN_CMD_ARGS=--worker-class gthread --workers 1 --threads 4 --bind 0.0.0.0:5085 --timeout 120 --access-logfile - --error-logfile - --capture-output"
ExecStart=/data_nuevo/flask_sftp/sftp_he1/.venv/bin/gunicorn app:app
Restart=always
RestartSec=5
KillSignal=SIGQUIT
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
